@model MyMusicCollection.Models.Album
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
            <h4>Big Mikes Playlists</h4>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/album">Home</a></li>
                <li><a href="/song">All Songs</a></li>
                <li><a href="/album/create">Review a Album</a></li>
                <li><a href="/song/create">Review a Song</a></li>
            </ul>
        </div>
    </header>
    <div class="row">
        <div class="colum-card-main2">
            <img src="@Model.AlbumImageLocation" />
            <p><h3>@Model.AlbumName </h3></p>
            <p><h4>@Model.AlbumInfo</h4></p>
        </div>
       
        <div class="colum">
            <h3>Song Listing</h3>
            @foreach (var song in Model.Songs)
            {
                <img src="@song.SongImageLocation" />
                <h4><a href="/Song/Details/@song.Id">@song.SongName</a></h4>
            }
        </div>
        <div class="colum">
            <p><h3>From the Listeners</h3></p>
            <p><h4>@Model.AlbumReviewContent</h4></p>
            <a href="/album">Back to list</a>
        </div>
    </div>
    <div class="footer-2">
        <p>Hey, I'm D.J. Mic and I put together some awesome music playlists I think you will like. Click on a song to check it out.</p>
    </div>
</body>
</html>
